<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- INTERPOLACIÓN: {{ expresión }} muestra el valor de una propiedad -->
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<!-- INTERPOLACIÓN {{ }}: Muestra valores del componente en el HTML -->


<!-- PROPERTY BINDING [ ]: Vincula una propiedad del DOM a una variable -->


<!-- EVENT BINDING ( ): Escucha eventos del DOM y llama a métodos -->


<!-- COMPONENTES IONIC: ion-list, ion-item, ion-avatar, ion-badge -->
